:root {
  font-family: sans-serif;
  --color-bg: hsl(0, 0%, 15%);
}

* {
  margin: 0;
}

body {
  padding: 2rem;
  background-color: var(--color-bg);
  color: white;

  @media (width < 600px) {
    padding: 1rem;
  }
}

h1,
h2 {
  font-weight: 300;
  font-size: medium;
}

a {
  color: inherit;
  &:hover {
    color: lightblue;
  }
}
